@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

.animate-fade-in {
  animation: fade-in 2s ease-in forwards;
}


body {
  background-color: #111;
  font-family: 'Arial', sans-serif;
  color: white;
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  color: #fff;
}



